body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-color:#dae8e831;
}

nav {
  background-color:#dae8e85b;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 8vw;
  background-color:transparent;
}

.nav-item {
  margin: 10px;
  padding: 15px;
  a {
    text-decoration: none;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.landing {
  background-color: transparent;
}

.landing-page {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: space-between;
  background-color:transparent;
  margin: 0 8vw;
  flex-wrap: wrap;
}

.left {
  background-color:transparent;
  margin: 10px;
  padding: 10px;
  h1 {
    font-size: 3rem;
  }
}

.firstname {
  margin: 0;
  padding: 0;
}

.lastname {
  padding-left: 15vw;
}

.right {
  background-color:transparent;
  margin: 10px;
  padding: 10px;
  max-width: 300px;
  img {
    width:100%;
  }
}

.buttons {
  margin: 20px 0;
}

.btn {
  padding: 8px 20px;
  border: 1px solid black;
}

.content {
  background-color:transparent;
  margin: 0 8vw;
}

.heading {
  font-size: 1.5rem;
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color:#dae8e8;
}

.about {
  background-color:transparent;
  padding: 15px;
  p {
    padding-left: 5vw;
    padding-right: 8vw;
    line-height: 140%;
    margin: 10px;
  }
}

.portfolio {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-item {
  max-width: 450px;
  margin: 10px;
  padding: 15px;
  background-color:transparent;
  flex: auto;
}

.item {
  width: 100%;
}

input {
  display: none;
  visibility: hidden;
}

label:hover {
  cursor: pointer;
}

.p-invisible {
  color: rgba(0, 0, 0, 0.555);
  transition: color 0.3s ;
  margin-bottom: 0;
  padding-top: 15px;
}

.p-invisible:hover {
  color:black;
}

#expand {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  font-family: Roboto;
}

#toggle:checked ~ label {
  .p-invisible {
    color: black;
  }
}

#toggle:checked ~ #expand {
  max-height: 400px;
}

b {
  font-weight: 800;
}

.description {
  padding-top: 15px;
  min-height: 80px;
}

@media screen and (min-width: 1400px) {
  .landing-page {
    max-width: 1160px;
    margin: auto;
  }
}
@media screen and (max-width: 1160px) {
  .content {
    margin: 0 3vw;
  }
}

@media screen and (max-width: 800px) {
  .landing-page {
    justify-content: center;
  }
  .right {
    max-width: 250px;
  }
  .about {
    p {
      padding: 0;
    }
  }
}

@media screen and (max-width: 550px) {
  .nav {
    margin: 0 3vw;
  }
  .nav-item {
    padding: 8px 5px;
  }
  .left {
    h1 {
      font-size: 2.5rem;
    }
  }
  #toggle:checked ~ #expand {
    max-height: 750px;
  }
}

@keyframes first {
  from {
      left: -50%;
      opacity: 0%;
  }
  to {
      left: 0%;
      opacity: 100%;
  }
}

@keyframes last {
  from {
    left: 50%;
    opacity: 0%;
  }
  to {
    left: 0%;
    opacity: 100%;
  }
}
.firstname {
  position: relative;
  animation-name: first;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.lastname {
  position: relative;
  animation-name: last;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}