body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

nav {
  background-color: rgba(128, 128, 128, 0.397);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 8vw;
  background-color: rgba(0, 128, 0, 0.281);
}

.nav-item {
  margin: 10px;
  padding: 15px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.landing {
  background-color: rgba(128, 128, 128, 0.63);
}

.landing-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.486);
  margin: 0 8vw;
  flex-wrap: wrap;
}

.left {
  background-color: rgba(255, 105, 180, 0.39);
  margin: 10px;
  padding: 10px;
  h1 {
    font-size: 2.5rem;
  }
}

.firstname {
  margin: 0;
  padding: 0;
}

.lastname {
  padding-left: 15vw;
}

.right {
  background-color: rgba(255, 105, 180, 0.486);
  margin: 10px;
  padding: 10px;
  max-width: 350px;
  img {
    width:100%;
  }
}

.buttons {
  margin: 20px 0;
}

.btn {
  padding: 8px 20px;
  border: 1px solid black;
}

.about_me {
  background-color: honeydew;
  margin: 0 8vw;
  h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 105, 180, 0.664);
  }
}

.about {
  background-color: rgb(255, 240, 252);
  padding: 15px;
  p {
    padding-left: 0vw;
    padding-right: 8vw;
    line-height: 140%;
  }
}

.projects {
  background-color: honeydew;
  margin: 0 8vw;
  h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 105, 180, 0.664);
  }
}

.portfolio {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-item {
  max-width: 450px;
  margin: 10px;
  padding: 15px;
  background-color: rgb(254, 240, 255);
}

.item {
  max-width: 250px;
}